* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

.cards-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card--stats{
  display: flex;
  align-items:center;
  padding:2.5px 4px;
  margin: 0px 3px;
}

.card--c {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}